.table {
  display: flex;
  flex-direction: column;
}

.tr {
  display: flex;
}

.td{
    color: #4A0808  ;

}
.th{
  color: #4A08084D;
}


.th,
.td {
  flex: 1;
  border-bottom: 1px solid #ddd; 
  padding: 8px; /* Add your desired padding */
}

/* Add hover effect and pointer cursor to each table row */
.table .tr:hover {
  background-color: #B05A5A; /* Light blue hover effect */
  cursor: pointer;
  color: #fff;
}